@import "bootstrap/dist/css/bootstrap.min.css";

$dark-blue: hsl(240, 100%, 5%);

@font-face {
  font-family: "Inter";
  src: url("../../public/Inter.ttf");
}

body {
  font-family: Inter !important;
}

.title {
  color: $dark-blue;
  font-weight: 850;
  letter-spacing: 2px;
}

.custom-btn {
  background-color: hsl(5, 85%, 63%);
  color: white;
  transition: 200ms;
  padding: 0.5em 1em;
  border: none;
  letter-spacing: 2px;
  font-weight: bold;

  &:hover {
    background-color: $dark-blue;
  }
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.text-orange {
  color: hsl(35, 77%, 62%);
}

.link-orange {
  color: white;
  text-decoration: none;
  transition: 200ms;

  &:hover {
    color: hsl(35, 77%, 62%);
  }
}

.custom-nav-link:hover {
  color: hsl(5, 85%, 63%);
}

@media (max-width: 767px) {
  .custom-nav-link {
    color: black !important;
    margin-left: 1rem;
    font-size: 1.2em;
  }
}
