---
import Cover from "../../public/images/image-web-3-desktop.jpg";
---

<section class="col-12 col-lg-8 mb-5 mb-lg-0">
  <img src={Cover} alt="cover image" class="img-fluid mb-3" />
  <div class="row">
    <div class="col-12 col-md-6">
      <h1 class="title">
        The Bright <br /> Future of Web <br class="d-md-none d-xl-block" /> 3.0?
      </h1>
    </div>
    <main class="col-12 col-md-6">
      <p class="text-muted">
        We dive into the next evolution of the web that claims to put the power
        of the platforms back into the hands of the people. But is it really
        fulfilling its promise?
      </p>
      <button class="custom-btn">READ MORE</button>
    </main>
  </div>
</section>
